*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    
}
a{
    text-decoration: none !important;
}
body{
    overflow-x: hidden;
}

@media (max-width:600px){
    .slick-dots{
        bottom: -50px !important;
    }
    *{
        overflow-x: hidden !important;
    }
    footer .row>*{
        width: auto !important;
    }
    .stageImg{
        display: none;
    }
    .cartImg{
        width: 35% !important;
    }
    .cartBody{
        width: 50% !important;
    }
    .cartRemoveItem{
        width: 15% !important;
    }
}